@import 'functions';
@import 'fonts';
@import 'variables';
@import 'normalize.css';
@import '~bootstrap/scss/bootstrap.scss'; 


//Essentials

.row {
  margin-left: rempx(5);
  margin-right: rempx(5);
}

.col-12 {
  padding: 0;
}

body {
  margin: 0px;
  list-style: none;
  background-color: $sf-bg-dark;
  font-family: $font-family-opensans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  position: relative;
  padding-top: rempx(40);
  bottom: 0;
  width: 100%;
  height: rempx(40);            /* Footer height */
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  max-width: none;
}

.header-title {
  margin-top: rempx(30);
  margin-bottom: rempx(30);
}

// Nav

.navbar {
  font-family: $font-family-opensans;
  flex-wrap: inherit;
  margin-right: rempx(30);
}

.navbar-brand {
  padding-bottom: 0;
}

.nav-item {
  color: $white-400;
  font-weight: 700;
  font-size: rempx(11);
  letter-spacing: rempx(2);
  margin-left: rempx(50);
  opacity: 1;

  &.active {
    font-weight: 400;
    opacity: 1;
  }
  
}

.nav-item:hover {
  color: $white-900;
}

// Hero

.hero-banner {
  margin: rempx(100) 0 rempx(140) 0;
  position: relative;
}

// Svgs in Hero

.svglines {
  width: rempx(761);
  height: rempx(263);
  margin: 0 auto;
}

.namelines {
  width: rempx(376);
  height: rempx(7);
  margin: 0 auto;
}

// Hero on Home Text

.name {
  font-family: $font-family-ailerons;
  font-weight: 300;
  font-size: rempx(22);
  color: $white;
  text-align: center;
}

.role {
  font-family: $font-family-opensans;
  font-weight: 700;
  font-size: rempx(11);
  color: $white;
  text-align: center;
  letter-spacing: rempx(2);
  color: $white-500;
}

.top_absolute {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mid_absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bot_absolute {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Text

h1 {
  font-family: $font-family-opensans;
  font-weight: 800;
  font-size: rempx(24);
}

h2 {
  font-family: $font-family-opensans;
  font-weight: 400;
  font-size: rempx(16);
  margin-top: inherit;
  margin-bottom: inherit;
}

h5 {
  font-family: $font-family-opensans;
  font-weight: 300;
  font-size: rempx(40);
}

.text-xl {
  font-size: rempx(70);
  font-weight: 300;
}

.line-spacing-title {
  line-height: rempx(60);
}

.line-spacing-paragraph {
  line-height: rempx(30);
}

p {
  line-height: rempx(10);
}

.ptable {
  padding: rempx(14);
  padding-top: rempx(20);
  font-size: rempx(24);
  font-weight: 600;
}

.ptable-means {
  padding: rempx(14);
  padding-top: rempx(20);
  font-size: rempx(18);
  font-weight: 400;
}

//img

.img-fluid {
  margin-left: auto;
  margin-right: auto;
}

//line

hr {
  border-color: $gray-100;
}

// ------------- image overlay ------------- //

.card-group > .overlay-card {
  margin-bottom: 0;
}
.overlay-card {
  border: none;
  border-radius: 4px;

  &.-work {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: stretch;
  }

  &.-disabled > .image {
    filter: blur(7.2px);
  }

  > .image {
    width: calc(70%);
    margin-top: calc(10%);
    margin-left: calc(15%);
  }

  > .card-img-overlay {
    padding: 0;
  }
}

.img-overlay {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  // background-color: rgba(black, 0.34);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  .logo {
    visibility: hidden;
  }

  &:hover {
    background-color: rgba(black, 0.45);
    > .arrow {
      right: rempx(40);
      opacity: 1;
    }
    > .logo {
      visibility: visible;
      align-self: center;
      justify-content: center;
      max-width: calc(35%);
  
      &.-tall {
        max-width: calc(20%);
      }
    }
  }

  > .placeholder {
    position: absolute;
    top: calc(50% - 3em);
    left: 0;
    right: 0;
    text-align: center;
  }

  > .arrow {
    position: absolute;
    bottom: rempx(30);
    right: rempx(120);
    opacity: 0;
    transition: all 0.3s ease-in-out;

    rect {
      fill: #fff;
    }
  }
}


//all films page

//table
.table {
  margin-left: rempx(20);
  margin-right: rempx(20);
  font-size: rempx(16);

  td {
    padding: rempx(2);
    padding-top: rempx(12);
  }
}

td a { 
  display: block; 
  padding: rempx(10); 
}

.table-number-link a {
  display: block; 
  padding: rempx(10);
  color: inherit;
}

//review page
.review-card {
  height: rempx(660);
  max-width: rempx(835);
  background-color: $sf-bg-dark;
}

.review-width {
  margin: 0 auto;
  max-width: rempx(800);
}

//buttons
.btn-custom {
  border-radius: 0px;
  letter-spacing: 1px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

// ------------ Project Cards ------------ //

.project-card {
  position: relative;
  height: rempx(220);
  margin: rempx(5);
  min-width: rempx(100);
  background-color: #131313;
  border-radius: rempx(0);

  &:hover {
    .project-img {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
}

.project-card-text {
  position: relative;
  z-index: 2;
  padding-left: rempx(40);
  padding-right: rempx(40);
}

.project-img{
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: .355s;
  opacity: 40%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.first-review {
  margin-top: rempx(0);
}

//flex
.flex-equal > * {
  flex: 1;
}

.d-md-flex {
  display: flex !important;
}

.flex-md-equal > * {
  flex: 1;
}

.hamburger-nav {
  display: none !important;
}

//Begin Response
@media (max-width: 1015px) {

  .hamburger-nav {
    display: block !important;
  }

  .d-lg-block {
    display: none !important;
  }

  .web-nav {
    display: none !important;
  }

  .flex-md-equal > * {
    flex: 1;
  }

  .d-md-flex {
    display: block !important;
  }

  .movie-card {
    margin: rempx(5);
  }

  //Table
  .table {
    font-size: rempx(14);
    td {
      padding: rempx(2);
    }
  }

  .table-col-width {
    width: 30px;
  } 

  .navbar-expand .navbar-nav .nav-link {
    padding-left: rempx(6);
    padding-right: rempx(6);
  }

  .ham-nav__container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1022;

    .ham-close {
      position: absolute;
      top: rempx(30);
      right: rempx(35);
      margin-right: rempx(-20);
      margin-left: rempx(20);
      user-select: none;
    }

    .ham-nav__background {
      width: 100vw;
      background-color: $white;
    }

    .ham-nav__body {
      height: calc(100% - 106px);
      overflow-y: auto;
    }

    .ham-link {
      color: $black;
      margin: rempx(30) 0;

      svg {
        vertical-align: sub;
      }

      svg rect {
        fill: $black;
      }
    }
  }

  // hamburger icon courtesy of Flippin' burgers
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .line {
      transition: all 500ms;
      fill: none;
      stroke: #000;
      stroke-width: 5.5;
      stroke-linecap: round;
    }

    &.dark .line {
      stroke: $black;
    }

    .top {
      stroke-dasharray: 40 121;
    }

    .bottom {
      stroke-dasharray: 40 121;
    }

    &.active {
      transform: rotate(45deg);
      margin-top: rempx(0);

      .line {
        stroke: $black;
      }

      .top {
        stroke-dashoffset: -68px;
      }

      .bottom {
        stroke-dashoffset: -68px;
      }
    }
  }
}

//Tablet
@media (max-width: 574px) {
  .ham-nav__container {
    position: absolute;
    top: rempx(15);
  }

    .ham-close {
      position: absolute;
      top: rempx(20);
    }
}

//iPhone
@media (max-width: 400px) {

  h5 {
    font-size: rempx(34);
    font-weight: 300;
  }

  .text-xl {
    font-size: rempx(50);
    width: rempx(100);
  }

  .nav-item {
    margin-left: rempx(40);
    margin-bottom: rempx(20);
    opacity: .5;
  
    &.active {
      opacity: 1;
    }
  }

  .movie-card {
    position: relative;
    height: rempx(420);
    min-width: rempx(100);
    background-color: $black;
    border-radius: rempx(0);
  
    &:hover {
      .movie-img {
        opacity: .8;
      }
    }
  }

  .review-card {
    height: rempx(460);
    margin-left: 0;
    margin-right: 0;
    background-color: $sf-bg-dark;
  }

  .row {
    margin-left: rempx(0);
    margin-right: rempx(0);
  }

}