@import 'functions';
@import 'fonts';
@import 'variables';
@import 'normalize.css';
@import '~bootstrap/scss/bootstrap.scss'; 


//Essentials

.row {
  margin-left: rempx(5);
  margin-right: rempx(5);
}

.col-12 {
  padding: 0;
}

body {
  margin: 0px;
  list-style: none;
  background-color: $sf-bg-dark;
  font-family: $font-family-opensans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  position: relative;
  padding-top: rempx(40);
  bottom: 0;
  width: 100%;
  height: rempx(40);            /* Footer height */
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  max-width: none;
}

.header-title {
  margin-top: rempx(30);
  margin-bottom: rempx(30);
}

// Nav

.navbar {
  font-family: $font-family-opensans;
  flex-wrap: inherit;
  margin-right: rempx(30);
}

.navbar-brand {
  padding-bottom: 0;
}

.nav-item {
  color: $white-400;
  font-weight: 700;
  font-size: rempx(11);
  letter-spacing: rempx(2);
  margin-left: rempx(50);
  opacity: 1;

  &.active {
    font-weight: 400;
    opacity: 1;
  }
  
}

.nav-item:hover {
  color: $white-900;
}

.project-nav {
  margin-bottom: rempx(150); 
}

// Flex

.flex-parent {
  display: flex;
  width: 100%;
}

.flex-child-66 {
  width: 100%;
}

.flex-child-33 {
  width: 50%;
}

.flex-equal > * {
  flex: 1;
}

.d-md-flex {
  display: flex !important;
}

.flex-md-equal > * {
  flex: 1;
}

// Hero

.hero-banner {
  margin: rempx(100) 0 rempx(140) 0;
  position: relative;
}

.center-bg {
  margin: 0 auto;
}

// Svgs in Hero

.svglines {
  width: rempx(761);
  height: rempx(263);
  margin: 0 auto;
}

.svglines_small {
  display: none;
  opacity: 1;
  height: rempx(263);
  margin: 0 auto;
}

.namelines {
  width: rempx(376);
  height: rempx(7);
  margin: 0 auto;
}

.flurish-horizontal {
  margin-left: rempx(30);
  margin-right: rempx(12);
}

.flurish-vertical {
  rotate: 270deg;
  margin-right: rempx(0);
  margin-top: rempx(60);

}

.flurish-parent {
  height: 100%;
}

.flurish-text-vertical {
  font-family: $font-family-opensans;
  font-weight: 700;
  font-size: rempx(11);
  letter-spacing: rempx(4);
  color: $white-300;
  margin-top: rempx(18);
  transform: rotate(270deg);
}

.flurish-quality {
  margin-left: rempx(45);
  margin-top: rempx(110);
}

// Hero on Home Text

.name {
  font-family: $font-family-ailerons;
  font-weight: 300;
  font-size: rempx(22);
  color: $white;
  text-align: center;
}

.role {
  font-family: $font-family-opensans;
  font-weight: 700;
  font-size: rempx(11);
  color: $white;
  text-align: center;
  letter-spacing: rempx(2);
  color: $white-500;
}

.flurish-text {
  font-family: $font-family-opensans;
  font-weight: 700;
  font-size: rempx(11);
  letter-spacing: rempx(2);
  color: $white-500;
  margin-top: rempx(18);
}

.top-absolute {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mid-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bot-absolute {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Text

h1 {
  font-family: $font-family-opensans;
  font-weight: 800;
  font-size: rempx(24);
}

.pp-ts-bld {
  margin-right: rempx(80);
}

.pp-ts {
  margin-right: rempx(0);
}

.pp-title {
  font-family: $font-family-ailerons;
  margin-left: rempx(-3);
  font-weight: 800;
  font-size: rempx(28);
  min-width: rempx(370);
  color: $white-800;
}

.pp-sub-text {
  font-family: $font-family-opensans;
  font-weight: 700;
  font-size: rempx(11);
  letter-spacing: rempx(2);
  color: $white-300;
}

h2 {
  font-family: $font-family-opensans;
  font-weight: 400;
  font-size: rempx(16);
  margin-top: inherit;
  margin-bottom: inherit;
}

h5 {
  font-family: $font-family-opensans;
  font-weight: 300;
  font-size: rempx(40);
}

.text-xl {
  font-size: rempx(70);
  font-weight: 300;
}

.line-spacing-title {
  line-height: rempx(60);
}

.line-spacing-paragraph {
  line-height: rempx(30);
}

p {
  font-family: $font-family-opensans;
  font-size: rempx(12);
  line-height: rempx(10);
  letter-spacing: rempx(.4);
  color: $text-paragraph;
}

.project-page-p {
  text-justify: left;
  font-size: rempx(14);
  line-height: rempx(26);
  max-width: rempx(380);
  min-width: rempx(370);
  opacity: 1;
}

.project-page-mid-role {
  text-justify: left;
  margin: 0 auto;
  font-size: rempx(14);
  line-height: rempx(26);

  // Padding
  max-width: rempx(380);
  min-width: rempx(370);
  margin-top: rempx(100);
  margin-bottom: rempx(100);
  opacity: 1;
}

.project-double-text {
  text-justify: left;
  margin: 0 auto;
  font-size: rempx(14);
  line-height: rempx(26);

  // Padding
  max-width: rempx(1080);
  min-width: rempx(370);
  padding-left: rempx(0);
  margin-top: rempx(200);
  margin-bottom: rempx(140);
  opacity: 1;
}

.project-page-title-description {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: rempx(160);
}

.ptable {
  padding: rempx(14);
  padding-top: rempx(20);
  font-size: rempx(24);
  font-weight: 600;
}

.ptable-means {
  padding: rempx(14);
  padding-top: rempx(20);
  font-size: rempx(18);
  font-weight: 400;
}

// Images

.img-fluid {
  margin-left: auto;
  margin-right: auto;
}

// line

hr {
  border-color: $gray-100;
}

// Padding
.phone-between-padding {
  padding-top: rempx(.05);
}

// ------------- image overlay ------------- //

.card-group > .overlay-card {
  margin-bottom: 0;
}
.overlay-card {
  border: none;
  border-radius: 4px;

  &.-work {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: stretch;
  }

  &.-disabled > .image {
    filter: blur(7.2px);
  }

  > .image {
    width: calc(70%);
    margin-top: calc(10%);
    margin-left: calc(15%);
  }

  > .card-img-overlay {
    padding: 0;
  }
}

.img-overlay {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  // background-color: rgba(black, 0.34);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  .logo {
    visibility: hidden;
  }

  &:hover {
    background-color: rgba(black, 0.45);
    > .arrow {
      right: rempx(40);
      opacity: 1;
    }
    > .logo {
      visibility: visible;
      align-self: center;
      justify-content: center;
      max-width: calc(35%);
  
      &.-tall {
        max-width: calc(20%);
      }
    }
  }

  > .placeholder {
    position: absolute;
    top: calc(50% - 3em);
    left: 0;
    right: 0;
    text-align: center;
  }

  > .arrow {
    position: absolute;
    bottom: rempx(30);
    right: rempx(120);
    opacity: 0;
    transition: all 0.3s ease-in-out;

    rect {
      fill: #fff;
    }
  }
}

// Buttons

.btn-custom {
  border-radius: 0px;
  letter-spacing: 1px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

// ------------ Project Cards (logos on home) ------------ //

.project-card {
  position: relative;
  height: rempx(220);
  margin: rempx(5);
  min-width: rempx(100);
  background-color: #131313;
  border-radius: rempx(0);

  &:hover {
    .project-img {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
}

.project-card-text {
  position: relative;
  z-index: 2;
  padding-left: rempx(40);
  padding-right: rempx(40);
}

// logo
.project-img {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: .355s;
  opacity: 40%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

}

.first-review {
  margin-top: rempx(0);
}

// Project Pages //

.body-content {
  width: 100%;
  max-width: rempx(1400);
  margin: 0 auto;
  padding: rempx(20);
}

// ---------- Bld Project Page ---------- //

.image-project-page {
  max-height: rempx(600);
}

.image-width-100 {
  width: 100%;
}

.image-width-75 {
  width: 75%;
}

.image-width-66 {
  width: 66%;
}

.image-width-40 {
  width: calc(40% - 40px);

  &:first-child {
    margin-right: rempx(20);
  }
  &:last-child {
    margin-left: rempx(20);
  }
}

.image-width-33 {
  width: 33%;
}

.image-width-25 {
  width: 25%;
}

.bantam-illustrations {
  max-width: rempx(900);
}

.flex-images-bld {
  display: flex;
  flex-flow: row nowrap;
  background-color: $sf-bg-images;
  justify-content: center;

}

.flex-bantam {
  background-color: $sf-bg-dark;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

// ---------- Bantam Project Page ---------- //

.image10 {
  display: block;
}

.image15 {
  display: none;
}

// ---------- Hamburger ---------- //

.hamburger-nav {
  display: none !important;
}

// ---------- Start of Pixels ----------//
// ---------- ---------- ---------- ---------- //
// ---------- ---------- ---------- ---------- //
// ---------- ---------- ---------- ---------- //

@media (max-width: 1360px) {

  .flurish-d-none {
    display: none !important;
  }

  // Bantam L+1

  // Bantam

  .image15 {
    display: none;
  }

}

@media (max-width: 1190px) {

  .hamburger-nav {
    display: block !important;
  }

  // .web-nav {
  //   display: none !important;
  // }

  .flex-md-equal > * {
    flex: 1;
  }

  .d-md-flex {
    display: block !important;
  }

  .movie-card {
    margin: rempx(5);
  }

  .image-project-page {
    max-width: rempx(500);
    height: auto;
    width: auto;
    margin-right: rempx(40);
  }

  // Project Images
  
  .flex-images-bld {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rempx(40);

  }

  .project-page-title-description {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: rempx(600);
    margin-bottom: rempx(100);

  }

  // Widths
  
  // .image-width-75 {
  //   width: 75%;
  // }
  
  // .image-width-66 {
  //   width: 66%;
  // }

  .image-width-40 {
    width: 70%;
    margin: 0;
    margin-bottom: rempx(40);

    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      margin-left: 0;
    }
  
  }
  
  // .image-width-33 {
  //   width: 33%;
  // }
  
  // .image-width-25 {
  //   width: 25%;
  // }

  // end widths

  .pp-ts-bld {
    min-width: rempx(380);
    max-width: rempx(380);
    margin-right: rempx(0);
    margin-bottom: rempx(20);
  }

  .pp-ts {
    min-width: rempx(380);
    margin-right: rempx(0);
    margin-bottom: rempx(20);
  }

  .navbar-expand .navbar-nav .nav-link {
    padding-left: rempx(6);
    padding-right: rempx(6);
  }

  .center-bg {
    margin: 0 auto;
  }

  // Bld Images

  // Bantam Images

  .image10 {
    display: block;
  }

  .image15 {
    display: none;
  }

}

// ---------- End of Svgs ---------- //

@media (max-width: 802px) {

  .svglines {
    display: none;
    opacity: 0;
    width: rempx(761);
    height: rempx(263);
    margin: 0 auto;
  }
  
  .svglines_small {
    display: block;
    width: rempx(456);
    height: rempx(263);
    margin: 0 auto;
  }

  .nav-parent {
    margin-top: rempx(15);
  }

  // Bantam Images

  .image10 {
    display: none;
  }

  .image15 {
    display: block;
  }

}

// ---------- Tablet ---------- //

@media (max-width: 574px) {

  .project-page-title-description {
  display: flex;
  flex-wrap: wrap;
  }

  .nav-parent {
    margin-top: rempx(15);
  }

  // Width

  .image-width-40 {
    width: 100%;
    margin: 0;
    margin-bottom: rempx(40);

    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      margin-left: 0;
    }
  
  }

  // Bantam Images

  .image10 {
    display: none;
  }
  
}

// ---------- iPhone ---------- //

@media (max-width: 428px) {

  h5 {
    font-size: rempx(34);
    font-weight: 300;
  }

  .text-xl {
    font-size: rempx(50);
    width: rempx(100);
  }

  .flex-parent {
    display: block;
  }

  // Nav

  .project-nav {
    margin-left: rempx(0);
    margin-bottom: rempx(80);
  }

  .nav-parent {
    margin-top: rempx(20);
  }

  // Hero

  .svglines_small {
    display: block;
    width: rempx(456);
    height: rempx(263);
    margin-left: rempx(-24);
  }

  .namelines {
    height: rempx(6);
    margin: 0 auto;
  }

  // Projects

  .flurish-horizontal {
    height: rempx(6);
    margin-top: rempx(21);
  }

  .project-page-title-description {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rempx(60);
  }
  
  .project-page-p {
    margin-left: rempx(0);
    max-width: rempx(280);
    min-width: rempx(240);
  }

  .project-page-mid-role {
    text-justify: left;
    margin: 0 auto;
    font-size: rempx(14);
    line-height: rempx(26);
  
    // Padding
    max-width: rempx(380);
    min-width: rempx(370);
    padding-left: rempx(0);
    margin-top: rempx(100);
    margin-bottom: rempx(100);
    opacity: 1;
  }

  .project-double-text {
    max-width: rempx(1080);
    min-width: rempx(370);
    padding-left: rempx(0);
    margin-top: rempx(100);
    margin-bottom: rempx(70);
    opacity: 1;
  }

  .pp-ts-bld {
    margin-left: rempx(-3);
    margin-right: rempx(0);
    min-width: rempx(280);
    max-width: rempx(280);
  }

  .pp-ts {
    margin-left: rempx(-3);
    margin-right: rempx(0);
    min-width: rempx(280);
  }

  .pp-title {
    padding-left: rempx(0);
    max-width: rempx(400);
    min-width: rempx(200);
    line-height: rempx(38);
  }

  .pp-sub-text {
    padding-left: rempx(1);
  }

  // Image Specific

  .flex-images-bld {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rempx(40);
    padding-left: rempx(15);
    max-width: rempx(375);
    min-width: rempx(375);

  }

  .image-project-page {
    margin-right: rempx(15);
  }

  // Bantam Images

  .image10 {
    display: none;
  }

  .image15 {
    display: flex;
  }

  .nav-item {
    margin-left: rempx(40);
    margin-bottom: rempx(20);
    opacity: .5;
  
    &.active {
      opacity: 1;
    }
  }

  .movie-card {
    position: relative;
    height: rempx(420);
    min-width: rempx(100);
    background-color: $black;
    border-radius: rempx(0);
  
    &:hover {
      .movie-img {
        opacity: .8;
      }
    }
  }

  .review-card {
    height: rempx(460);
    margin-left: 0;
    margin-right: 0;
    background-color: $sf-bg-dark;
  }

  .row {
    margin-left: rempx(0);
    margin-right: rempx(0);
  }

}